.movie-list {
  height: 100%;
  padding: 15px;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  img {
    height: 450px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .title {
    font-size: 20px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

    &.a {
      text-decoration: none !important;
    }
  }
}
